#weather-container {
    float: left;
    padding: 50px;
    outline-color: white;
    max-width: 50%;
}
#map-div{
    text-align: center;
    outline-color: white;
    float: right;

}
#map {
    min-height: 500px;
    min-width: 500px;

}
html,
body {
    height: 100%;
    margin: 10px;
    padding: 10px;
}